<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="h-100">
  {%- include head.html -%}
  <body class="d-flex flex-column h-100">
    {%- include header.html -%}
    <main class="page-content flex-shrink-0" aria-label="Content">
      <div class="containere wrapper container">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
