---
layout: default
---
{%- assign hero = site.devcarpet_theme.hero -%}
{%- if hero.active -%}
<div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/hero-01.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">{{ hero.title }}</h1>
            <p class="lead">{{ hero.description }}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/about/"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">About</button></a> 
                <a href="/portfolio/"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Portfolio</button></a>
            </div>
        </div>
    </div>
</div>
{%- endif -%}
<div class="home album py-5 bg-light">
    <div class="container">
        {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}
        {{ content }}
        {% if site.paginate %}
        {% assign posts = paginator.posts %}
        {% else %}
        {% assign posts = site.posts %}
        {% endif %}
        {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
            <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        <!-- <ul class="post-list"> -->
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="row mb-2">
            {%- for post in posts -%}
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <!-- <div> -->
                        <!-- {% for tag in site.tags %}
            <h3>{{ tag[0] }}</h3>
            <ul>
              {% for postt in tag[1] %}
                <li><a href="{{ postt.url }}">{{ postt.title }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %} -->
                        <!-- <div class="col p-4 d-flex flex-column position-static"> -->
                        <strong class="d-inline-block mb-2 text-primary">
                            {%- for cat in post.categories -%}
                            {{ cat }} &nbsp;
                            {%- endfor -%}</strong>
                        <h3 class="mb-0">{{ post.title | escape }}</h3>
                        <div class="mb-1 text-muted post-meta">{{ post.date | date: date_format }}</div>
                        <p class="card-text mb-auto">{{ post.content| strip_html | truncatewords: 30 }}</p>
                        <a class="stretched-link" href="{{ post.url | relative_url }}">Read more</a>
                    </div>
                </div>
            </div>
            <!-- <li> -->
            <!-- <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3> -->
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
            <!-- </li> -->
            {%- endfor -%}
        </div>
        <!-- </ul> -->
        {% if site.paginate %}
        <div class="pager">
            <ul class="pagination">
                {%- if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{
                        paginator.previous_page }}</a></li>
                {%- else %}
                <li>
                    <div class="pager-edge">•</div>
                </li>
                {%- endif %}
                <li>
                    <div class="current-page">{{ paginator.page }}</div>
                </li>
                {%- if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page
                        }}</a></li>
                {%- else %}
                <li>
                    <div class="pager-edge">•</div>
                </li>
                {%- endif %}
            </ul>
        </div>
        {%- endif %}
        {%- endif -%}
    </div>
</div>